<h1>Nova Pessoa</h1>

<%= form_for @person, html: {role: 'form'} do |f| %>
  <%= def resource; @person; end; devise_error_messages! %>

  <fieldset>
    <%= render partial: 'field', locals: {f: f}, collection: Person::COMMON_FIELDS %>

    <div class="form-group row">
      <div class="col-xs-12 col-sm-5">
        <span class="help-block">
          Ao adicionar uma Pessoa, ela será adicionada automaticamente à sua conta do Salesforce. A sincronização ocorrerá em segundo plano e em poucos segundos esta pessoa estará visível na sua aba <strong>Contatos</strong> dentro do Salesforce.
          <% if current_user.salesforce_auth.nil? %>
            Para integrar sua conta, clique no botão azul no topo desta página e digite seus dados de acesso no Salesforce.
          <% end %>
        </span>
      </div>
    </div>

    <%= f.submit 'Adicionar', class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', people_path, class: 'btn btn-default' %>
  </fieldset>
<% end %>
