<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salesforce Sample</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Alternar Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Salesforce Sample', root_path, class: 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse">
          <% if current_user.present? %>
            <ul class="nav navbar-nav">
              <%= menu_link_to 'Pessoas', people_path %>
            </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.present? %>
              <li><p class="navbar-text"><%= current_user.username %></p></li>
              <li><%= link_to 'Sair', destroy_user_session_path, data: {method: :delete} %></li>
            <% else %>
              <%= menu_link_to 'Entrar', new_user_session_path %>
            <% end %>
          </ul>
          <% if current_user.present? %>
            <div class="nav navbar-nav navbar-right salesforce-integration">
              <% if current_user.salesforce_auth.present? %>
                <%= link_to 'Desativar Integração com Salesforce', omniauth_destroy_path, class: 'btn navbar-btn btn btn-danger', data: {method: :delete} %></li>
              <% else %>
                <%= link_to 'Ativar Integração com Salesforce', '/auth/salesforce', class: 'btn navbar-btn btn btn-primary' %></li>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
